
html {
    height: 100%;
}

body {
  font-size: 100%
  height: 100&;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
/* Gradient */
  background-color: #d19e80;
  background-image: linear-gradient(62deg, #f5f7fa 0%, #c3cfe2 100%);
}

h1 {
  font-size: 2em;
  font-family: "Sans-Seriff", Helvetica, sans-serif;
  color: #303030;
  margin-left: 20px;
}

h2 {
  font-size: 1.75em;
  font-family: "Sans-Seriff", Noto, sans-serif;
  color: black;
  margin-left: 20px;
}

h3 {
  font-size: 1.5em;
  font-family: "Sans-Seriff", Noto, sans-serif;
  color: black;
  margin-left: 20px;
}

h4 {
  font-size: 1.25em;
  font-family: "Sans-Seriff", Noto, sans-serif;
  color: black;
  margin-left: 20px;
}

h5 {
  font-size: 1em;
  font-family: "Sans-Seriff", Noto, sans-serif;
  color: black;
  margin-left: 20px;
}

h6 {
  font-size: .75em;
  font-family: "Sans-Seriff", Noto, sans-serif;
  color: black;
  margin-left: 20px;
}
